@font-face {
    font-family: 'iconfont';  /* project id 2351437 */
    src: url('//at.alicdn.com/t/font_2351437_aypyjz3pm1t.eot');
    src: url('//at.alicdn.com/t/font_2351437_aypyjz3pm1t.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2351437_aypyjz3pm1t.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2351437_aypyjz3pm1t.woff') format('woff'),
    url('//at.alicdn.com/t/font_2351437_aypyjz3pm1t.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2351437_aypyjz3pm1t.svg#iconfont') format('svg');
  }