@font-face {
  font-family: 'iconfont';  /* project id 2351437 */
  src: url('//at.alicdn.com/t/font_2351437_h4zms4r8uto.eot');
  src: url('//at.alicdn.com/t/font_2351437_h4zms4r8uto.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2351437_h4zms4r8uto.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2351437_h4zms4r8uto.woff') format('woff'),
  url('//at.alicdn.com/t/font_2351437_h4zms4r8uto.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2351437_h4zms4r8uto.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  width:30px;
  height: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiao11:before {
  content: "\e60b";
}

.icon-dianzan:before {
  content: "\e621";
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-love:before {
  content: "\e675";
}

.icon-biaoqian:before {
  content: "\e69f";
}

.icon-wenzhang-copy:before {
  content: "\e643";
}

.icon-zhuye:before {
  content: "\e64d";
}

.icon-icon-test:before {
  content: "\e61b";
}

.icon-zhuce:before {
  content: "\e62d";
}

.icon-xiaoren:before {
  content: "\e65a";
}

